<h3>Login</h3>
<form action="/login" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="secret">
  <input type="submit" value="Login">
</form>


<hr>

<h3>Register</h3>
<form action="/register" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="secret">
  <input type="submit" value="Register">
</form>
