<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Security Pract :. LEET LOGIN SKILLS</title>
  </head>
  <body>

    <header>
      <h1>SECURITY PRACT</h1>
      <strong>LEET LOGIN SKILLS</strong>
    </header>

    <nav>
      <li><a href="/">Home</a></li>
      <% if get_current_user_if_exists == nil %>
      <li><a href="/foyer">Login or Register</a></li>
      <% else %>
      Welcome back, <strong><%= session[:user].name %></strong>
      <li><a href="/logout">Logout</a></li>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
